#headofschool{
    float:left;
    margin-right: 10px;
}
li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}
.news{
    background-color: fuchsia;
    float: right;
}
.events{
    background-color: fuchsia;
    float: right;

}