h1,h2{
    color: darkviolet;
}
h3{
    color: mediumblue;
}

header{
    background-color: green;
}
.mugcontainer{
    padding: 100px;
    color: fuchsia;
    font-family: fantasy;
    font-weight: bolder;
    font-style: italic;
}